<div class="container">
    <h1>Add a document</h1>
    <form method="post" id="add-document-form">
      <div class="form-container">
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title" required>
      </div>
      <div class="form-container">
        <label for="email">Number of pages</label><br>
        <input type="number" name="nopages" id="nopages" required>
      </div>
      <div class="form-container">
        <label for="type">Type</label><br>
        <input type="text" name="type" id="type" required>
      </div>
      <div class="form-container">
        <label for="format">Format</label><br>
        <input type="text" name="format" id="format" required>
      </div>
      <div class="form-submit-container">
        <a href="./index.html" class="cancel-add-document">Cancel</a>
        <button type="submit" id="submit-add-document-button">Save</button>
      </div>
    </form>
  </div>