body{
  font-family:Arial, Helvetica, sans-serif;
  margin: 0
}

.topbar {
  background: green;
  background: black;
  padding: 8px 20px;
}

.topbar-inner {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.topbar-link{
  color: white;
  text-decoration: none;
  display: flex;
  gap: 6px;
  font-size: 13px;
  align-items: center;
}

.topbar-svg{
  width: 16px;
  height: 16px;
}

.topbar-right-svg{
  width: 60%;
  height: 60%;
}

.topbar-right{
  display: flex;
  gap: 10px;
  align-items: center;
}

.topbar-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  width: 25px;
  height: 25px;
  border-width: 0;
}

.topbar-right-link{
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 4px;
}

.theme-button{
  background-color: #303030;
  color: white;
  margin-right: 10px;
}

.facebook-link, .linkedin-link{
  background-color: #1877f2;
  color: white;
}

.twitter-link{
  background-color: black;
  color: white;
}

.youtube-link{
  background-color: red;
  color: white;
}

.instagram-link{
  background: linear-gradient(to bottom left,     #833ab4,#fd1d1d,#fcb045);
}

.page-header{
  padding: 12px 20px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e3e3e3
}

.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  max-width: 1413px;
}

.header-inner-left{
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-link{
  width: 11vw;
  height: 15vh;
}

.categories-button{
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  font-size: 14px;
}

.categories-button-squares-svg, .categories-button-arrow-svg{
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.header-search-input-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  width: 25vw;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

.header-search-input-icon{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 12px;
  color: #808080;
}

.header-search-input{
  width: 100%;
  padding: 10px 16px 10px 40px;
  border: none;
  border-radius: inherit;
  background-color: #fafafa;
  color: #808080;
}

.header-inner-right{
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-right-link{
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.header-right-svg{
  width: 14px;
  height: 14px;
}

.header-right-svg-tutorials{
  margin-right: 6px;
  flex-shrink: 0;
  color: black
}

.header-right-svg-courses{
  margin-right: 6px;
  color: red;
}

.header-right-svg-jobs{
  margin-right: 6px;
  color: black;
}

.login-button{
  background-color: green;
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 5px;
  color: white;
}

