<div class="container">
  <h1>Add an author</h1>

  <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <label for="name">Name</label><br>
      <input type="text" id="name" formControlName="name" required>
    </div>

    <div class="form-container">
      <label for="email">Email</label><br>
      <input type="text" id="email" formControlName="email" required>
    </div>

    <div class="form-submit-container">
      <a routerLink="/">Cancel</a>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
